@font-face { font-family: Louis; src: url('font/Louis George Cafe.ttf'); } 

:root{
    --sidepanel: #00703C;
    --main: #F7E7CE;
}

*{
    margin: 0;
    padding: 0;
    font-family: Louis;
    font-size: 25px;
}

.side-panel {
    height: 100vh;
    width: 75px;
    background-color: var(--sidepanel);
    position: fixed;
    color: var(--main);

    display: flex;
    flex-direction: column;
    padding-top: 20px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    overflow: hidden;
    transition: width 0.5s;

    box-shadow: 10px 3px 49px -1px rgba(0,0,0,0.75);
    z-index: 100000;
}

.side-panel:hover {
    width: 300px
}

.side-panel-content{
    height: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30px 0 0 25px;
    font-weight: lighter;

    border-radius: 10px;

    overflow: hidden;
    transition: 0.5s;

    box-shadow: 1px 22px 18px 0px rgba(0,0,0,0.46);
}

.side-panel-content p{
    padding: 3px;
    margin-left: 25px;
    font-weight: bold;
}

.side-panel-content-options{
    display: flex;
    flex-direction: row;
    align-items: left;  
    text-align: left;
}

.side-panel-content ul{
    padding-top: 27.5px;
    margin-left: 15px;
    list-style-type: none;
}

.side-panel-content li{
    margin-bottom: 30px;
}

.side-panel-content a{
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    color: var(--main);
    border-radius: 5px;
   
    box-shadow: -1px 12px 19px 0px rgba(0,0,0,0.52); 

    transition: 0.5s;
}

.side-panel-content a:hover{
    box-shadow: 0px 12px 19px 0px rgba(0,0,0,0.75);
    background-color: #009d54;
}

.side-panel-content-options a{
    color: var(--main);
    text-decoration: none; 
}

.side-panel-content img{
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
}

.main-icon {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-icon img{
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

#calendar-content:hover,
#reserve-content:hover,
#profile-content:hover {
    background-color: #007d43;
    box-shadow: 1px -1px 18px 1px rgba(0,0,0,0.46);
    height: 230px; 
}

.main-icon::after {
    content: '';
    width: 230px;
    height: 1px;
    background-color: var(--main);
    margin-top: 10px;
    margin-bottom:20px;
}

.main-content {
    height: 100vh;
    background-color: var(--main);
    background: url(images/background.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 75px;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 1;
}

.header button {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 1px solid #007d43;
    color: var(--main);
    outline: none;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 2px -1px 149px -16px rgba(0,0,0,0.7);

    margin-right: 125px;

    transition: 0.5s;
}

.header button:hover {
    border: 1px solid transparent;
    background-color: #007d43;
    color: var(--main);
    box-shadow: 2px -1px 101px 15px rgba(0,0,0,0.7);
}

.wrap {
    position: absolute;
    width: 450px;
    height: 500px;
    border: 2px solid var(--sidepanel);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    box-shadow: 2px -1px 101px 15px rgba(0,0,0,0.8) inset;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: .5s ease;

    transform: scale(0);

    z-index: 100000;
}

.wrap.active {
    height: 600px;
}

.wrap.popup {
    transform: scale(1);
}

.close-login {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 15px;
    background-color: var(--sidepanel);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 15px;
    z-index: 99;
}

.wrap .login-form.login {
    position: relative;
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrap .login-form.reg-as {
    position: absolute;
    transition: transform .18s ease;
    transform: translateX(500px);
}

.wrap.register-as .login-form.reg-as {
    position: relative;
    transform: translateX(0)
}

.wrap.active .login-form.login,
.wrap.register-as .login-form.login {
    position: absolute;
    transform: translateX(-500px)
}

.wrap .login-form.register{
    position: absolute;
    transform: translateX(500px)
}

.wrap.active .login-form.register {
    position: relative;
    transition: transform .18s ease;
    transform: translateX(0);
}

.login-form {
    padding: 40px;
    width: 100%;
    color: var(--main);
}

.login-form h3 {
    font-size: 2em;
    text-align: center;
    padding-bottom: 30px;
}

.input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-field input {
    width: 100%;
    height: 80%;
    font-size: 25px;
    background: var(--main);
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 10px 0 50px;
    box-sizing: border-box;
}

.input-field label {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 25px;
    font-style: italic;
    color: var(--sidepanel);
    pointer-events: none;

    transform: translateY(-50%);
    transition: 0.5s;
}


.input-field input:focus~label,
.input-field input:not(:placeholder-shown)~label {
    color: var(--main);
    top: -20px;  
}

.input-field img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 10px;
}


.wrap .btn {
    width: 375px;
    height: 50px;
    background: var(--sidepanel);
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    color: var(--main);
    cursor: pointer;
    
    transition: .5s;
}

.wrap .btn:hover{
    background-color: #009d54;
    box-shadow: 2px -1px 101px 5px rgba(0,0,0,0.8);
}

.register p,
.login p {
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 20px;
}

.register p a,
.login p a {
    text-decoration: none;
    color: var(--main);
    font-size: 20px;
    font-weight: bold;
}

.register p a:hover,
.login p a:hover {
    text-decoration: underline;
}

.reg-as-option {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 75px;
    border-radius: 20px;
    outline: none;
    background-color: var(--sidepanel);
    padding: 20px;
    margin: 30px 0 0 22.5px;
    cursor: pointer;
    align-items: center;

    transition: .5s;
}

.reg-as-option:hover {
    background-color: #009d54;
    box-shadow: 2px -1px 101px 5px rgba(0,0,0,0.8);
}

.reg-as-option img {
    position: absolute;
    width: 80px;
    height: 80px;
}

.reg-as-option p {
    position: absolute;
    margin: 0 0 0 100px;
    color: var(--main);
    font-weight: bold;
    border-radius: 50%;
}


.pfp-container {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 350px;
    top: 150px;
}

.pfp-container input {
    display: none;
}

#profile-picture {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 350px;
    top: 150px;
    background: var(--sidepanel);
    border: 5px solid var(--sidepanel);
    border-radius: 50%;

    box-shadow: 2px -1px 101px 5px rgba(0,0,0,0.8);
}

.pfp-label {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 354.5px;
    top: 154.5px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;

    transition: background-color .2s ease;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pfp-container input {
    display: none;
}

.pfp-label span {
    z-index: 10000;
    padding: 65px 60px;
    border-radius: 50%;
    transition: background-color .2s ease;
    z-index: 10000;

    color: transparent;
}

.pfp-label:hover {
    background-color: rgba(0,0,0,.8);
    z-index: 10000;
    color: var(--main);
    transition: background-color .2s ease-in-out;
    border-radius: 50%;
    margin-bottom: 0;
}

.pfp-label span:hover {
    color: var(--main);
}

.edit-pfp {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 490px;
    top: 295px;
    cursor: pointer;
    padding: 10px;
    background-color: var(--sidepanel);
    border: 1px solid var(--sidepanel);
    border-radius: 50%;
    z-index: 99;
}

.profile-details {
    position: absolute;
    width: 700px; 
    height: 200px;
    left: 575px; 
    top: 150px;
    background-color: var(--sidepanel);
    border: 2px solid var(--sidepanel);
    border-radius: 10px;
    color: var(--main);

    box-shadow: 2px -1px 101px 5px rgba(0,0,0,0.8) inset;
}

.profile-details h4 {
    font-size: 30px;
    padding: 20px 0 0 20px;
    font-weight: bold;
}

.profile-details span {
    margin-bottom: 10px;
    font-size: 15px;
    font-style: italic;
    padding: 0 0 0 20px;
    color: #f1d6ab;
}

.profile-details hr {
    width: 70%;
    border: 1px solid var(--sidepanel);
    margin-left: 15px;
    margin-bottom: 15px;
}

.profile-details p {
    padding: 0 20px 0 20px;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
}

.profile-details img {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
    cursor: pointer;
    padding: 10px;
    background-color: var(--sidepanel);
    border-bottom-right-radius: 5px;
    border-top-left-radius: 15px;
    z-index: 99;
}

#profile-name[contenteditable="true"],
#profile-description[contenteditable="true"] {
    background-color: var(--main);
    color: var(--sidepanel);
    padding: 0 0 0 10px;
    text-decoration: underline;
    font-style: italic;
    border-radius: 10px;
    outline: none;
}

#profile-name[contenteditable="true"] {
    margin: 20px 20px 0 10px;
}

#profile-description[contenteditable="true"] {
    margin: 0 20px 0 10px;
}



.profile-reservations {
    position: absolute;
    width: 910px;
    height: 450px;
    left: 325px;
    top: 400px; 
    background-color: var(--sidepanel);
    border: 2px solid var(--sidepanel);
    border-radius: 10px;
    color: var(--main);
    padding: 20px;
    overflow-y: auto;

    box-shadow: 2px -1px 101px 5px rgba(0,0,0,0.8) inset;
}

.profile-reservations h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.profile-reservations hr {
    width: 95%;
    border: 1px solid var(--main);
    margin-bottom: 20px;
}

.reservation-item {
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 20px;

    transition: .5s;
}

.reservation-item:hover {
    background-color: #007d43;
    box-shadow: 1px -1px 18px 1px rgba(0,0,0,0.46);
}

.reservation-item p {
    font-size: 20px;
    margin: 5px 0;
}

.profile-reservations::-webkit-scrollbar {
    width: 12px;
}

.profile-reservations::-webkit-scrollbar-thumb {
    background-color: var(--sidepanel); 
    border-radius: 10px;
}

.profile-reservations::-webkit-scrollbar-thumb:hover {
    background-color: #00512b; 
}

.search-user {
    position: absolute;
    width: 400px; 
    height: 80px;
    left: 1350px; 
    top: 150px;
    background-color: var(--sidepanel);
    border: 2px solid var(--sidepanel);
    border-radius: 10px;
    color: var(--main);

    box-shadow: 2px -1px 101px 5px rgba(0,0,0,0.8);
}

.search-user-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 17.5px;
    cursor: pointer;
    padding: 10px;
    background: none;
    border: none;
    outline: none;
    z-index: 999;
}

#user-search {
    width: 90%;
    height: 40px;
    font-size: 18px;
    background-color: var(--main);
    padding: 10px 10px 10px 35px;
    margin: 20px 20px 0 20px;
    border: none;
    border-radius: 5px;
}

.autocomplete {
    position: absolute;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

.autocomplete-item {
    width: 300px;
    height: 50px;
    padding: 10px;
    margin-left: 55px;
    cursor: pointer;
    border-bottom: 1px solid #005a30;
    border-radius: 10px;
    background-color: var(--sidepanel);

    font-size: 23px;

    transition: .5s;
    box-shadow: 1px 22px 18px 0px rgba(0,0,0,0.46);
}

.autocomplete-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--main);
    margin-bottom: 50px;
}

.autocomplete-item span {
    position: absolute;
    padding: 10px;
}

.autocomplete-item:hover {
    background-color: #007d43;
    color: #fff;
}

.delete-profile{
    position: absolute;
    width: 175px;
    height: 50px;
    top: 845px;
    left: 1580px;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 1px solid #700000;
    color: var(--main);
    outline: none;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 2px -1px 149px -16px rgba(0,0,0,0.7);
    transition: 0.5s;
}

.delete-profile:hover{
    border: 1px solid transparent;
    background-color: #9f0000;
    color: var(--main);
    box-shadow: 2px -1px 101px 15px rgba(0,0,0,0.7);
}

.delete-profile-yesno {
    position: absolute;
    width: 450px;
    height: 230px;
    border: 2px solid #700000;
    backdrop-filter: blur(25px);
    border-radius: 20px;
    box-shadow: 2px -1px 101px 15px rgba(0,0,0,0.8) inset;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: scale(0);
    transition: .5s ease;

    z-index: 100000;
}

.delete-profile-yesno.popup {
    transform: scale(1);
}

.delete-profile-yesno h3 {
    position: absolute;
    font-size: 2em;
    text-align: center;
    top: 45px;
    padding-bottom: 30px;
    color: #9f0000;
}

.yesno-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 25px;
    border-radius: 20px;
    outline: none;
    color: var(--main);
    padding: 20px;
    margin: 100px 22.5px 0 22.5px;
    cursor: pointer;
    align-items: center;

    transition: .5s;
}

.yesno-btn:first-of-type {
    background-color: var(--sidepanel);
}

.yesno-btn:nth-of-type(2) {
    background-color: #700000;
}

.yesno-btn:first-of-type:hover {
    background-color: #009d54;
    box-shadow: 2px -1px 101px 5px rgba(0,0,0,0.8);
}

.yesno-btn:nth-of-type(2):hover {
    background-color: #9f0000;
    box-shadow: 2px -1px 101px 5px rgba(0,0,0,0.8);
}