<div id="pfp-container">
    <label class="pfp-label" for="file">
        <span>Change Image</span>
        </label>
        <input id="file" type="file" onchange="loadFile(event)"/>
    <img id="profile-picture" alt="Profile Picture">
</div>

<div class="profile-details">
    <img src="images/icons/edit.png" class="edit-profile" alt="EDIT/DISKETTE Group icons created by Freepik - Flaticon">

    <h4 id="profile-name">Name</h4><span id="profile-email">email@dlsu.edu.ph</span>
    <hr>
    <p id="profile-description">Short description of the user goes here.</p>
</div>

<div class="profile-reservations">
    <h3>User Lab Reservations</h3>
    <div class="reservation-item">
        <p><strong>Room:</strong> Room GK101</p>
        <p><strong>Time:</strong> 10:00 AM - 12:00 PM</p>
        <p><strong>Day:</strong> Monday</p>
    </div>
    <hr>
    <div class="reservation-item">
        <p><strong>Room:</strong> Room GK202</p>
        <p><strong>Time:</strong> 2:00 PM - 4:00 PM</p>
        <p><strong>Day:</strong> Wednesday</p>
    </div>
    <hr>
    <div class="reservation-item">
        <p><strong>Room:</strong> Room GK302</p>
        <p><strong>Time:</strong> 2:00 PM - 4:00 PM</p>
        <p><strong>Day:</strong> Wednesday</p>
    </div>
    <hr>
    <div class="reservation-item">
        <p><strong>Room:</strong> Room GK402</p>
        <p><strong>Time:</strong> 2:00 PM - 4:00 PM</p>
        <p><strong>Day:</strong> Wednesday</p>
    </div>
    <hr>
    <div class="reservation-item">
        <p><strong>Room:</strong> Room GK502</p>
        <p><strong>Time:</strong> 2:00 PM - 4:00 PM</p>
        <p><strong>Day:</strong> Wednesday</p>
    </div>
</div>

<div class="search-user">
    <img src="images/icons/search.png" class="search-user-icon" alt="SEARCH Group icons created by Freepik - Flaticon">
    <input type="text" id="user-search" placeholder="Search for users...">
    <div id="autocomplete-user-search" class="autocomplete-user-search"></div>
</div>

<button class="delete-profile">Delete Profile</button>

<div class="delete-profile-yesno">
    <img src="images/icons/close.png" class="close-delete-profile-yesno" alt="CLOSE Group icons created by Freepik - Flaticon">
    <h3>Delete Account?</h3>
    <div class="yesno-btn" id="no-delete">
        <p>No</p>
    </div>
    <div class="yesno-btn" id="yes-delete">
        <p>Yes</p>
    </div>
</div>