
            <div id ="appointment-pane-left">
                <div class = apptOptionContainer>
                    <img    src = "images\icons\computer.png"
                    class = "apptIcon">
                    <p class = "appOptLabel">Room:</p>
                    <select id = "roomSlotDropdown"
                            class = "apptOption">
                        <option value="Room GK101">Room GK101</option>
                        <option value="Room GK202">Room GK202</option>
                        <option value="Room GK302">Room GK302</option>
                        <option value="Room GK304A">Room GK304A</option>
                    </select>
                </div>
                <div class = apptOptionContainer>
                    <img    src = "images\icons\calendar.png"
                            class = "apptIcon">
                    <p class = "appOptLabel">Date:</p>
                    <input type = "date"
                        id = "datePicker"
                        class = "apptOption">
                </div>
                <div class = apptOptionContainer>
                    <img    src = "images\icons\clock.png"
                    class = "apptIcon">
                    <p class = "appOptLabel">Time:</p>
                    <select id="timeSlotDropdown"
                            class = "apptOption">
                        <option value="8:00 AM - 10:00 AM">8:00 AM - 10:00 AM</option>
                        <option value="10:00 AM - 12:00 PM">10:00 AM - 12:00 PM</option>
                        <option value="12:00 PM - 2:00 PM">12:00 PM - 2:00 PM</option>
                        <option value="2:00 PM - 4:00 PM">2:00 PM - 4:00 PM</option>
                        <option value="4:00 PM - 6:00 PM">4:00 PM - 6:00 PM</option>
                    </select>
                </div>
            </div>

            <div class="labPopup" id="labPopup">
                    <form action="#">
                        <div class="labPopupTitle">
                            Slots for GK304A
                        </div>
                        <div class="seats">
                            <div class="statusList">
                                <div class="status">Available</div>
                                <div class="status">Reserved</div>
                                <div class="status">Selected</div>
                            </div>
                            <div class="allSeats">
                                    {{#eachInMap seatsMap}}
                                        <input type="radio" name="slot" id={{id}}>
                                        <label for={{id}} class={{class}}></label>
                                        {{#if third}}
                                            <br>
                                        {{/if}}
                                    {{/eachInMap}} 
                            </div>
                        </div>

                        <div id="reserve-button-cont">
                            <button type="button" id="reserve-button">Reserve</button>
                        </div>
                    </form>
                
            </div>
