{{!Authors: Luke Regalado, Miguel Guerrero, Ilan Templa.}}

<div class="main-content">
    <div class="reserveTableCont">
        <table class="reservationTable">
            <tr>
                <th class="seatNum">Seat Number</th>
                <th class="labCol">Lab</th>
                <th class="DTReq">Date & Time of Request</th>
                <th class="DTRes">Date & time of Reservation</th>
            </tr>

            {{#each reservations}}
                <tr>
                    <td>{{seatNum}}</td>
                    <td>{{lab}}</td>
                    <td>{{dateAndTimeReq}}</td>
                    <td>{{dateAndTimeRes}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>
