{{!Authors: Luke Regalado, Miguel Guerrero, Ilan Templa.}}

<p id = "appointment-header">Slot Availability</p>

<div id="appointment-pane-right">
    <table id="seatTable">
        <tr>
            <th>Seat</th>
            <th>Status</th>
            <th>Reservee</th>
        </tr>
        {{#each seatsMap}}
         <tr>
            <td>{{@key}}</td>
            <td>{{this.class}}</td>
            <td>None</td>
        </tr>
        {{/each}}
    </table>
</div>
<input  type ="checkbox" 
        
        class = "availability">
<label  id ="cbLabel"
        class = "availability"
        > Show Only Available Slots
</label><br>

<div id ="appointment-pane-left">
    <div class = apptOptionContainer>
        <img    src = "images\icons\computer.png"
        class = "apptIcon">
        <p class = "appOptLabel">Room:</p>
        <select id = "roomSlotDropdown"
                class = "apptOption">
            <option value="Room GK101">Room GK101</option>
            <option value="Room GK202">Room GK202</option>
            <option value="Room GK302">Room GK302</option>
            <option value="Room GK304A">Room GK304A</option>
        </select>
    </div>
    <div class = apptOptionContainer>
        <img    src = "images\icons\calendar.png"
                class = "apptIcon">
        <p class = "appOptLabel">Date:</p>
        <input type = "date"
            id = "datePicker"
            class = "apptOption">
    </div>
    <div class = apptOptionContainer>
        <img    src = "images\icons\clock.png"
        class = "apptIcon">
        <p class = "appOptLabel">Time:</p>
        <select id="timeSlotDropdown"
                class = "apptOption">
            <option value="8:00 AM - 10:00 AM">8:00 AM - 10:00 AM</option>
            <option value="10:00 AM - 12:00 PM">10:00 AM - 12:00 PM</option>
            <option value="12:00 PM - 2:00 PM">12:00 PM - 2:00 PM</option>
            <option value="2:00 PM - 4:00 PM">2:00 PM - 4:00 PM</option>
            <option value="4:00 PM - 6:00 PM">4:00 PM - 6:00 PM</option>
        </select>
    </div>
</div>