{{!Authors: Luke Regalado, Miguel Guerrero, Ilan Templa.}}

<p id = "appointment-header">Slot Availability</p>

<div id="appointment-pane-right">
    <table id="seatTable">
        <thead>
            <tr>
                <th>Seat</th>
                <th>Room</th>
                <th>Reservee</th>
                <th>Schedule</th>
            </tr>
        </thead>
        <tbody>
            {{!-- populated by js --}}
        </tbody>
    </table>
</div>

<input  type ="checkbox" 
        class = "availability"
        onclick="filterReservations()">
<label  id ="cbLabel"
        class = "availability"
        onchange="filterReservations()"> Show Only Available Slots
</label><br>

<div id ="appointment-pane-left">
    <div class = apptOptionContainer>
        <img    src = "images\icons\computer.png"
        class = "apptIcon">
        <p class = "appOptLabel">Room:</p>
        <select id = "roomSlotDropdown"
                class = "apptOption" onclick="filterReservations()">
            <option value="any">Any</option>
            <option value="GK101">Room GK101</option>
            <option value="GK202">Room GK202</option>
            <option value="GK302">Room GK302</option>
            <option value="GK304A">Room GK304A</option>
        </select>
    </div>
    <div class = apptOptionContainer>
        <img    src = "images\icons\calendar.png"
                class = "apptIcon">
        <p class = "appOptLabel">Date:</p>
        <input type = "date"
            id = "datePicker"
            class = "apptOption"
            onchange="filterReservations()">
    </div>
    <div class = apptOptionContainer>
        <img    src = "images\icons\clock.png"
        class = "apptIcon">
        <p class = "appOptLabel">Time:</p>
        <select id="timeSlotDropdown"
                class = "apptOption" onchange="filterReservations()">
            <option value="">Any</option>
            <option value="9:15 - 10:45">9:15 - 10:45</option>
            <option value="11:00 - 12:30">11:00 - 12:30</option>
            <option value="12:45 - 14:15">12:45 - 14:15</option>
            <option value="14:30 - 16:00">14:30 - 16:00</option>
            <option value="16:15 - 17:45">16:15 - 17:45</option>
        </select>
    </div>
</div>

<script src="/reservations.js"></script>